@import '../../mixins';
@import '../../functions';
@import '../../variables';

.btn {
  text-decoration: none;
  cursor: pointer;
  font: inherit;
  background-color: $color-primary;
  border: 1px solid $color-primary;
  color: $color-white;
  border-radius: rem-calc(56px);
  padding: rem-calc(6px) rem-calc(18px);
  text-align: center;
  box-shadow: $box-shadow-1;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover,
  &:active {
    background-color: darken($color-primary, 10%);
    border-color: darken($color-primary, 10%);
    text-decoration: none;
  }

  span {
    color: $color-white;
    margin-left: rem-calc(8px);
    display: inline-flex;
    justify-content: center;
  }

  span:first-child {
    margin-left: 0;
    height: 100%;
  }

  span svg {
    width: rem-calc(20px);
    height: rem-calc(20px);
  }
}

.secondary {
  background-color: $color-white;
  border: 1px solid $color-white;
  color: $color-primary;

  &:hover,
  &:active {
    background-color: darken($color-white, 5%);
    border-color: darken($color-white, 5%);
  }

  span {
    color: $color-primary;
  }
}

.outlined {
  background-color: rgba(255, 255, 255, 0);
  color: $color-primary;

  span {
    color: $color-primary;
  }

  &:hover,
  &:active {
    background-color: rgba(255, 255, 255, 0.5);
    border-color: $color-primary;
  }
}
