@import '../../mixins';
@import '../../functions';
@import '../../variables';

.navbar {
  position: fixed;
  top: 0;
  z-index: 20;
  padding: rem-calc(10px) rem-calc(20px) rem-calc(10px) rem-calc(10px);
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  @include respondAbove('xs') {
    height: rem-calc(120px);
    padding-left: rem-calc(5px);
  }
  @include respondAbove('md') {
    padding: rem-calc(30px) rem-calc(77px) rem-calc(30px) rem-calc(45px);
    height: rem-calc(200px);
  }

  .logoLink {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;

    img {
      height: 100%;
      width: auto;

      @include respondAbove('md') {
        height: 90%;
        margin-top: rem-calc(-5px);
      }
    }

    span {
      font-weight: $font-bolder;
      font-size: rem-calc(18px);
      @include respondAbove('xs') {
        font-size: rem-calc(23px);
      }
      @include respondAbove('md') {
        font-size: rem-calc(30px);
      }
    }

    span:last-child {
      color: $color-primary;
    }
  }

  .btnContainer {
    display: flex;
    align-items: center;
  }
}
