@import '../variables';
@import '../mixins';
@import '../functions';

.hero {
  overflow: hidden;
  padding-top: rem-calc(100px);
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: $color-secondary;

  @include respondAbove('lg') {
    justify-content: center;
  }

  .mainContent {
    position: relative;
    padding: 0 rem-calc(20px) 0;

    @include respondAbove('md') {
      padding: 0 rem-calc(75px) 0;
    }
    @include respondAbove('lg') {
      flex-direction: row;
    }

    .text {
      position: relative;
      z-index: 20;
      @include respondAbove('lg') {
        width: 60%;
      }
      @include respondAbove('lg') {
        h1 > span:first-child,
        p > span:first-child {
          background-color: $color-secondary;
        }
      }

      p {
        font-weight: $font-normal;
        line-height: rem-calc(34px);
        font-size: rem-calc(22px);
        @include respondAbove('xs') {
          line-height: rem-calc(38px);
          font-size: rem-calc(26px);
        }
        @include respondAbove('sm') {
          line-height: rem-calc(42px);
          font-size: rem-calc(30px);
        }
      }

      .btnContainer {
        padding: rem-calc(40px) 0;
        width: 100%;
        display: flex;

        a:first-child {
          margin-right: rem-calc(16px);
        }

        @include respondAbove('xs') {
          a:first-child {
            margin-right: rem-calc(45px);
          }
        }
      }
    }

    .heroImage {
      width: 100%;
      position: absolute;
      bottom: 100%;
      left: -5%;
      z-index: 10;

      @include respondAbove('sm') {
        bottom: 75%;
      }

      @include respondBetween('md', 'lg') {
        width: 80%;
        bottom: 80%;
        left: 10%;
      }

      @include respondAbove('lg') {
        display: flex;
        justify-content: flex-end;
        bottom: -20%;
        padding: rem-calc(40px);
      }

      img {
        object-fit: contain;
      }
    }

    .dottedLines {
      position: absolute;
      z-index: 5;
      right: 40%;
      bottom: 80%;

      @include respondAbove('xs') {
        right: -38%;
        bottom: 95%;
      }

      @include respondAbove('sm') {
        right: -7%;
        bottom: 95%;
      }

      @include respondAbove('md') {
        right: -12%;
        bottom: 85%;
      }

      @include respondAbove('lg') {
        right: -8%;
        bottom: -10%;
      }
    }
  }

  .dots {
    position: absolute;
    bottom: rem-calc(-30px);
    left: 0;
  }

  .appLinkContainer {
    position: absolute;
    bottom: 0;
    right: rem-calc(20px);
    bottom: rem-calc(10px);
    display: none;

    @include respondAbove('sm') {
      display: block;
    }

    @include respondAbove('md') {
      right: rem-calc(77px);
    }

    a {
      margin-left: rem-calc(10px);
    }
  }
}
