// colors
$color-primary: #756cff;
$color-secondary: #ffeeb4;
$color-white: #fff;
$color-black-1: #28272f;
$color-black-2: #1f1f26;
$color-grey: #f3f3f3;

// rem base
$rem-base: 16px;

// fonts
$font-bold: 700;
$font-bolder: 600;
$font-normal: 400;

// breakpoints
$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px,
  xl: 1500px,
);

// box-shadows
$box-shadow-1: 0 6px 12px rgba(0, 0, 0, 0.2);
