@import '_mixins';
@import '_functions';
@import '_variables';

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

body {
  margin: 0 auto;
  max-width: rem-calc(1920px);
}

h1,
.h1 {
  margin-bottom: rem-calc(22px);
  color: $color-black-1;
  font-weight: $font-bold;
  line-height: rem-calc(67px);
  font-size: rem-calc(40px);
  @include respondAbove('xs') {
    margin-bottom: rem-calc(26px);
    line-height: rem-calc(74px);
    font-size: rem-calc(55px);
  }
  @include respondAbove('sm') {
    margin-bottom: rem-calc(30px);
    line-height: rem-calc(81px);
    font-size: rem-calc(62px);
  }
}

h2,
.h2 {
  margin-bottom: rem-calc(16px);
  color: $color-black-1;
  font-weight: $font-bold;
  line-height: rem-calc(52px);
  font-size: rem-calc(28px);
  @include respondAbove('xs') {
    margin-bottom: rem-calc(20px);
    line-height: rem-calc(59px);
    font-size: rem-calc(35px);
  }
  @include respondAbove('sm') {
    margin-bottom: rem-calc(24px);
    line-height: rem-calc(66px);
    font-size: rem-calc(42px);
  }
}

p,
a,
a > span {
  color: $color-black-1;
  font-weight: $font-normal;
  line-height: rem-calc(28px);
  font-size: rem-calc(14px);
  @include respondAbove('xs') {
    line-height: rem-calc(32px);
    font-size: rem-calc(16px);
  }
  @include respondAbove('sm') {
    line-height: rem-calc(36px);
    font-size: rem-calc(18px);
  }
}

a {
  text-decoration: none;
  color: $color-primary;

  &:hover {
    text-decoration: underline;
    color: darken($color-primary, 10%);
  }
}

ul {
  list-style: none;
}

// colors
.text-primary {
  color: $color-primary;
}
.text-secondary {
  color: $color-secondary;
}
.text-white {
  color: $color-white;
}

.bg-secondary {
  background-color: $color-secondary;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
